.navigasi {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navigasi>nav {
    display: flex;
    gap: 8px;
}
.navigasi>nav>button:hover {
background-color: gray;
}

.navigasi>nav>a {
    height: 32px;
    border: 1px solid black;
    background-color: orange;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding: 6px;
    color: black;
}

.navigasi>nav>a:hover {
   background-color: darkgoldenrod;
}

.navigasi>nav>a:focus {
   background-color: red;
}

.image {

}

.content-container>header {
    text-align: center;
}

.core-content {
    display: flex;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.our-package-content, .teksakhir{
   max-width: 1100px;
   margin-left: auto;
   margin-right: auto;
}

@media only screen and (max-width:680px) {
    .core-content, .destinasi-container {
        flex-direction: column;
        padding-right: 32px;
        gap: 15px !important;
    }
    .navigasi {
        padding: 0;
    }
}

.core-item {
    width: 100%;
    margin: 18px;
}

.item-form {
    display: flex;
    flex-direction: column;
    margin: inherit;
}

.item-form>input ,.option1 {
    height: 32px;
    width: 50%;
    margin-left: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.item-right {
    background-color: lightgray;
    height: 450px;
}

.item-left {
}

.our-package-content {
    align-content: center;
    /* background-color: lightpink; */
}

.title-our-package {
    background-color: lightpink;
    padding: 50px;
    text-align: center;
}

.our-package-content h1 {
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
}

body {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .slideshow-container>.mySlides {
    width:100%;
    height: 300px;
  }

  .send {
    margin-left: 8px;
    margin-top: 20px;
    width: 40%;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
  }

  .testimoni-container {
    padding: 5px 20px;
  }

  .testimoni-container div {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .img-testimoni {
    width: 70px;
    border-radius: 50%;
    height: 70px;
  }

  .privilages {
    display: flex;
    align-items: center;
    gap: 15px;
}

.privilages-span {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    flex-shrink: 0;
}

.destinasi-container {
    padding: 20px;
    display: flex;
    gap: 100px;
}


.destinasi {
    display: flex;
    gap: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    background-color: white;
    padding: 15px;
}

.garis {
    width: 200px;
    background-color: gray;
    border: none;
    height: 4px;
}

.teksakhir {
    text-align: center;
    padding: 20px 200px;
    display: flex;
    padding: 30px;
}

.teksakhir h1 {
    font-size: 20pt;
}

.tomboltlp {
    height: 50px;
    width: 200px;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.img-footer {
    text-align: center;
   
}

footer {
    text-align: center;
    padding:30px;
}

.tombolkirim {
    margin-top: 5%;
    margin-left: 8px;
    width: 50%;
}